* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #0f0f0f;
  color: #fff;
}

/* HEADER */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #111;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #e50914;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #e50914;
}

/* HERO */
.hero {
  height: 80vh;
  background: url('https://via.placeholder.com/1200x600') no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 40px;
}

.hero-text {
  max-width: 500px;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.hero-text p {
  margin-bottom: 20px;
}

.hero-text button {
  padding: 12px 25px;
  border: none;
  background-color: #e50914;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

/* FILMES */
.filmes {
  padding: 40px;
}

.filmes h2 {
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s;
}

.card img {
  width: 100%;
}

.card h3 {
  padding: 10px;
}

.card p {
  padding: 0 10px 10px;
  color: #aaa;
}

.card:hover {
  transform: scale(1.05);
}

/* CATEGORIAS */
.categorias {
  padding: 40px;
  text-align: center;
}

.categorias-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.categorias-grid div {
  background-color: #e50914;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
}

/* FOOTER */
footer {
  background-color: #111;
  text-align: center;
  padding: 20px;
  margin-top: 30px;
}
.search-box {
  padding: 20px;
  text-align: center;
}

.search-box input {
  width: 60%;
  max-width: 400px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  outline: none;
  font-size: 16px;
}